:host {
  --panel-height: 100px;
}

.file-panel {
  height: var(--panel-height);
}

.editor-window {
  height: calc(100% - var(--panel-height));
}

.button-panel {
  height: 60px;
  align-items: center;
}
