<section>
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col h-100">

        <mat-tab-group animationDuration="0ms" class="d-flex justify-content-top h-100 main-tabs">
          <mat-tab label="Scripts">
            <div class="page-container">
              <app-script-page></app-script-page>
            </div>
          </mat-tab>

          <mat-tab label="Users">
            <div class="page-container">
              <app-users-page></app-users-page>
            </div>
          </mat-tab>

          <mat-tab label="Messages">
            <div class="page-container">
              <app-messages-page></app-messages-page>
            </div>
          </mat-tab>

        </mat-tab-group>

      </div>
    </div>
  </div>
</section>
