<section>
  <div class="container-fluid vh-100">
    <div class="row h-100">
      <div class="col h-100">

        <mat-tab-group animationDuration="0ms" class="d-flex justify-content-top h-100 main-tabs">
          <mat-tab label="First">
            <app-script-page></app-script-page>
          </mat-tab>

          <mat-tab label="Second">
            Page 2
          </mat-tab>

          <mat-tab label="Third">
            Page 3
          </mat-tab>

        </mat-tab-group>

      </div>
    </div>
  </div>
</section>
