/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/purple-green.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container-fluid .mat-tab-body-content {
  overflow: hidden;
}

mat-tab-group.main-tabs > .mat-tab-body-wrapper {
  flex-grow: 1;
}

.table-container {
  overflow: auto;
  height: 100%;
}

.table-container table {
  min-width: 500px;
}

.table-container mat-paginator {
  min-width: 500px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #242424;
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0);
}

button.mat-button-base:focus {
  outline: rgba(0,0,0,0) auto 0;
}
